NDSS2023/data/cifar-10-python.tar.gz
NDSS2023/data/cifar-10-batches-py/batches.meta
NDSS2023/data/cifar-10-batches-py/data_batch_1
NDSS2023/data/cifar-10-batches-py/data_batch_2
NDSS2023/data/cifar-10-batches-py/data_batch_3
NDSS2023/data/cifar-10-batches-py/data_batch_4
NDSS2023/data/cifar-10-batches-py/data_batch_5
NDSS2023/data/cifar-10-batches-py/readme.html
NDSS2023/data/cifar-10-batches-py/test_batch
NDSS2023/data/mnist/MNIST/raw/t10k-images-idx3-ubyte
NDSS2023/data/mnist/MNIST/raw/t10k-images-idx3-ubyte.gz
NDSS2023/data/mnist/MNIST/raw/t10k-labels-idx1-ubyte
NDSS2023/data/mnist/MNIST/raw/t10k-labels-idx1-ubyte.gz
NDSS2023/data/mnist/MNIST/raw/train-images-idx3-ubyte
NDSS2023/data/mnist/MNIST/raw/train-images-idx3-ubyte.gz
NDSS2023/data/mnist/MNIST/raw/train-labels-idx1-ubyte
NDSS2023/data/mnist/MNIST/raw/train-labels-idx1-ubyte.gz
NDSS2023/data/mnist/MNIST_BADNETS/raw/t10k-images-idx3-ubyte
NDSS2023/data/mnist/MNIST_BADNETS/raw/t10k-images-idx3-ubyte.gz
NDSS2023/data/mnist/MNIST_BADNETS/raw/t10k-labels-idx1-ubyte
NDSS2023/data/mnist/MNIST_BADNETS/raw/t10k-labels-idx1-ubyte.gz
NDSS2023/data/mnist/MNIST_BADNETS/raw/train-images-idx3-ubyte
NDSS2023/data/mnist/MNIST_BADNETS/raw/train-images-idx3-ubyte.gz
NDSS2023/data/mnist/MNIST_BADNETS/raw/train-labels-idx1-ubyte
NDSS2023/data/mnist/MNIST_BADNETS/raw/train-labels-idx1-ubyte.gz
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/res_DC_CIFAR10_ConvNet_10ipc.pt
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/0/model_0.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/0/model_1.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/0/model_2.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/0/model_3.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/0/model_4.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/0/model_5.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/0/model_6.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/0/model_7.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/0/model_8.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/0/model_9.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/100/model_0.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/100/model_1.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/100/model_2.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/100/model_3.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/100/model_4.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/100/model_5.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/100/model_6.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/100/model_7.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/100/model_8.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/100/model_9.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/1000/model_0.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/1000/model_1.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/1000/model_2.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/1000/model_3.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/1000/model_4.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/1000/model_5.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/1000/model_6.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/1000/model_7.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/1000/model_8.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/1000/model_9.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/150/model_0.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/150/model_1.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/150/model_2.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/150/model_3.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/150/model_4.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/150/model_5.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/150/model_6.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/150/model_7.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/150/model_8.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/150/model_9.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/200/model_0.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/200/model_1.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/200/model_2.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/200/model_3.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/200/model_4.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/200/model_5.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/200/model_6.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/200/model_7.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/200/model_8.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/200/model_9.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/250/model_0.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/250/model_1.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/250/model_2.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/250/model_3.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/250/model_4.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/250/model_5.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/250/model_6.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/250/model_7.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/250/model_8.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/250/model_9.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/300/model_0.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/300/model_1.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/300/model_2.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/300/model_3.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/300/model_4.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/300/model_5.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/300/model_6.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/300/model_7.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/300/model_8.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/300/model_9.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/350/model_0.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/350/model_1.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/350/model_2.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/350/model_3.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/350/model_4.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/350/model_5.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/350/model_6.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/350/model_7.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/350/model_8.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/350/model_9.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/400/model_0.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/400/model_1.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/400/model_2.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/400/model_3.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/400/model_4.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/400/model_5.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/400/model_6.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/400/model_7.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/400/model_8.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/400/model_9.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/450/model_0.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/450/model_1.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/450/model_2.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/450/model_3.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/450/model_4.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/450/model_5.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/450/model_6.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/450/model_7.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/450/model_8.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/450/model_9.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/50/model_0.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/50/model_1.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/50/model_2.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/50/model_3.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/50/model_4.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/50/model_5.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/50/model_6.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/50/model_7.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/50/model_8.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/50/model_9.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/500/model_0.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/500/model_1.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/500/model_2.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/500/model_3.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/500/model_4.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/500/model_5.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/500/model_6.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/500/model_7.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/500/model_8.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/500/model_9.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/550/model_0.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/550/model_1.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/550/model_2.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/550/model_3.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/550/model_4.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/550/model_5.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/550/model_6.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/550/model_7.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/550/model_8.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/550/model_9.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/600/model_0.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/600/model_1.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/600/model_2.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/600/model_3.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/600/model_4.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/600/model_5.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/600/model_6.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/600/model_7.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/600/model_8.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/600/model_9.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/650/model_0.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/650/model_1.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/650/model_2.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/650/model_3.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/650/model_4.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/650/model_5.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/650/model_6.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/650/model_7.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/650/model_8.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/650/model_9.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/700/model_0.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/700/model_1.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/700/model_2.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/700/model_3.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/700/model_4.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/700/model_5.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/700/model_6.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/700/model_7.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/700/model_8.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/700/model_9.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/750/model_0.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/750/model_1.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/750/model_2.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/750/model_3.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/750/model_4.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/750/model_5.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/750/model_6.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/750/model_7.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/750/model_8.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/750/model_9.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/800/model_0.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/800/model_1.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/800/model_2.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/800/model_3.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/800/model_4.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/800/model_5.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/800/model_6.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/800/model_7.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/800/model_8.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/800/model_9.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/850/model_0.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/850/model_1.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/850/model_2.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/850/model_3.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/850/model_4.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/850/model_5.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/850/model_6.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/850/model_7.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/850/model_8.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/850/model_9.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/900/model_0.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/900/model_1.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/900/model_2.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/900/model_3.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/900/model_4.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/900/model_5.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/900/model_6.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/900/model_7.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/900/model_8.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/900/model_9.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/950/model_0.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/950/model_1.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/950/model_2.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/950/model_3.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/950/model_4.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/950/model_5.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/950/model_6.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/950/model_7.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/950/model_8.pth
NDSS2023/results/DC/ConvNet_CIFAR10_10ipc/950/model_9.pth
NDSS2023/results/distill_basic/MNIST/arch(LeNet,xavier,1.0)_distillLR0.02_E(400,40,0.5)_lr0.01_B10x10x3_train(known_init)/opt.yaml
NDSS2023/results/distill_basic/MNIST/arch(LeNet,xavier,1.0)_distillLR0.02_E(400,40,0.5)_lr0.01_B10x10x3_train(known_init)/output.log
